/*青岛火一五信息科技有限公司
 赵博
 QQ：3186355915
 
  */

/*共用样式*/
.font-bule-36a2ee {
	color:#36a2ee;
}
.font-orange-fd8d45 {
	color: #fd8d45;
}
.border-left-1px {
	border-left: 1px solid #EEEEEE;
}
.flex-box-row {
	display: flex;
	display: -webkit-flex;
	
	justify-content: space-around;
	-webkit-justify-content: space-around;
	
	align-items: center;
	-webkit-align-items: center;
	
	align-content: flex-start;
	-webkit-align-content: flex-start;
}
.flex-box-row .item {	
	width: 150px;
	height: 95px;
	margin-bottom: 10px;
	
	
	
	/*order: 1;*/
	flex-grow: 0;
	-webkit-flex-grow: 0;
	
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	
	flex-basis: auto;
	-webkit-flex-basis: auto;
	
	flex: none;
	-ms-flex: none;
	-webkit-flex: none;
	
	align-self: auto;
	
}
.flex-box-row .item h3 {
	font-size: 15px;
	text-indent: 20px;
}
.flex-box-row .item p {
	font-size: 9px;
	text-indent: 20px;
}
.flex-box-row .item img {
	float: right;
	width: 80px;
	margin-top: -50px;
	
}


/*轮播图下面的按钮样式*/
.slider-btn-wrapper {
	position: absolute;
	padidng: 0;
	margin: 0;
	width: 100%;
	bottom: -10px;
	lef: 0;
	z-index: 1;
}

.slider-btn-wrapper img {}

.slider-btn-wrapper .mui-btn-danger {
	position: absolute;
	bottom: 15px;
	left:50%;
	margin-left: -75px;
	border-radius: 75px;
	background: #fc591f;
}

/*快车和专车按钮组*/

div.expressAndTailored {
	display: flex;
	display: -webkit-flex;
	
	justify-content: center;
	-webkit-justify-content: center;
	
	align-items: center;
	-webkit-align-items: center;
	
	align-content: flex-start;
	-webkit-align-content: flex-start;
	padding-top: 15px;
	background: #FFFFFF;
	margin-bottom: 10px;
}
.expressAndTailored .item {
	width: 155px;
	flex: 1 1 auto;
	
}
/*顺风车/预包车/门店/代驾*/

.ride-sharing {
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.ride-sharing .item {
	width: 155px;
	height: 95px;
	/*display: table-cell;
	vertical-align: middle;*/
	
	background: #FFFFFF;
}
.ride-sharing .item h2 {
	font-size: 16px;
	text-indent: 55px;
	margin-top: 25px;
	
}
.ride-sharing .item p {
	font-size: 10px;
	text-indent: 55px;
}
.ride-sharing .item img {
	width:40px;
	float: left;
	margin-left: 10px;
	margin-top:-55px;
}



/*
.main-btn-row-wrapper {
	padding-top: 15px;
	background: #ffffff;
}
.main-btn-row-wrapper .mui-col-xs-6{
	border-right: 1px solid #EEEEEE;
}
.main-btn-row-wrapper .main-btn-row-fl {
	float: left;
	margin-left: 5px;
}
.main-btn-row-wrapper .main-btn-row-fl h4 {
	margin-left: 10px;
	color:#36a2ee;
}
.main-btn-row-wrapper .main-btn-row-fl p {
	margin-left: 5px;
	
}
.main-btn-row-wrapper .main-btn-row-fl h4.orange {
	color: #fd8d45;
}
.main-btn-row-wrapper .main-btn-row-fr {
	float: right;
	margin-right: 5px;
	
}

顺风车、预包车、门店、我在哪儿按钮组
#small-btn-div .mui-col-sm-6 {
	padding: 10px;
}
#small-btn-div .small-btn-wrapper {
	width: 100%;
	padding: 10px 0px;
	height: 100px;
	background: #FFFFFF;
}
#small-btn-div .small-btn-wrapper .small-btn {
	margin-top: 10px;
	margin-left: 5px;
}
#small-btn-div .small-btn-wrapper .dsc {
	margin-top: 10px;
}
#small-btn-div .small-btn-wrapper .dsc p {
	font-size: small;
	padding-right: 5px;
}*/